* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.card {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: auto;
    margin-top: 50%;
    top: 13%;
    margin: auto;
    background-color: gray;
    animation: MoveUpDown 1s linear infinite;
    border-radius: 50px;
}

.card-img-top {
    border-radius: 5px;
    margin-top: 5px;
    width: 90%;
    margin: auto;
}

#button {
    border-radius: 20px;
}

.iframe {
    margin-left: auto;
    margin-right: auto;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.carousel-item {
    height: 32rem;
    position: relative;
    background-position: center;
    background-size: cover;
}


/* Carousel base class */


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.contatti {
    width: 70%;
    height: auto;
    margin: auto;
    padding-top: 10px;
    position: static;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

.featurette-image {
    border-radius: 10px;
    margin: auto;
    width: 500px;
    height: 500px;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.jumbotron {
    margin: auto;
    border-radius: 30px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .iframe {
        height: 200;
        width: 200;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .jumbotron {
        width: 100%;
    }
    .card {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .featurette-image {
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 10px;
    }
}